# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log